body {
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
  color: #fff;
  background-image: url("/img/back.jpg");
  background-repeat: repeat;
}
.body {
  max-width: 960px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}
.headerlogo {
  max-width: 640px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}
.imglogo {
  max-height: 48px;
  margin: auto;
  padding: auto;
  display: block;
}
p {
  font-size: 14px;
  line-height: 150%;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 150%;
}
a:visited {
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
.samping {
  width: 120px;
  position: sticky;
  margin-bottom: 15px;
}
.komuk {
  max-width: 100px;
  max-height: 100px;
  border-radius: 20px;
  margin-top: 15px;
}
.ikontoko {
  max-width: 100px;
  max-height: 100px;
  border-radius: 20px;
  margin-top: 15px;
}
.samping a {
  text-decoration: none;
  display: block;
  padding-top: 15px;
}
.samping a:visited {
  color: #fff;
}
.samping a:hover {
  text-decoration: underline;
}
.sidemenu {
  margin: auto;
}
.delapandelapantigasatu {
  max-width: 88px;
}
.gambardelapandelapantigasatu a {
  padding-top: 8px;
}
.gambardelapandelapantigasatu img {
  transition: all 0.3s ease;
}
.gambardelapandelapantigasatu img:hover {
  transform: scale(1.05);
}
.isi {
  flex: 1;
}
.wrap {
  display: flex;
}
.footer {
  position: relative;
  z-index: 10;
  clear: both; 
}
li {
  font-size: 14px;
  line-height: 150%;
}
.kelukukreasi {
  max-width: 480px;
}
.kelukurekomendasi {
  max-width: 480px;
}
.garispinggir {
  width: 90%;
  margin-left: 0;
  margin-top: 15px;
}
.kelukurig {
  max-width: 480px;
}
.selamatdatang {
  display: flex;
  margin: auto;
}
.selamatdatang img {
  width: 120px;
  height: auto;
}
.selamatdatang p {
  margin-left: 20px;
}
.embedsatu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}
.embedfanart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.pricelisttopup {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.pricelisttopup td {
  width: 160px;
  span: 2;
  height: 18px;
  text-align: center;
  vertical-align: center;
  border: 1px solid #fff;
  font: Tahoma,Verdana,Segoe,sans-serif;
  color: #fff;
  font-size: 14px;
}
.priceakgede {
  font-size: 18px;
}
.pricetag {
  font-weight: bold;
}
.linkpenanda {
  font-weight: bold;
}
.linkumpan {
  font-weight: bold;
}
.linkdepan {
  font-weight: bold;
}
.fotooshi {
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
}
.flexoshi {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}
.flexoshiisi {
  width: 120px;
  text-align: center;
  padding: 5px;
  padding-top: auto;
  padding-bottom: 0px;
}
.oshiikon {
  width: auto;
  height: 18px;
  vertical-align: middle;
}
.watame {
  color: #f6eca5;
  font-weight: bold;
}
.akane {
  color: #B7282E;
  font-weight: bold;
}
.rosemi {
  color: #DC3753;
  font-weight: bold;
}
.meruto {
  color: #EB4682;
  font-weight: bold;
}
.maria {
  color: #E55A9B;
  font-weight: bold;
}
.ruri {
  color: #2887FF;
  font-weight: bold;
}
.kisara {
  color: #846fc7;
  font-weight: bold;
}
.nei {
  color: #5A7DFF;
  font-weight: bold;
}
.fuyuki {
  color: #EEFFFF;
  font-weight: bold;
}
.toko {
  color: #9D3757;
  font-weight: bold;
}
.shiina {
  color: #F1C8DE;
  font-weight: bold;
}
.natsume {
  color: #880223;
  font-weight: bold;
}
.sango {
  color: #EF8468;
  font-weight: bold;
}
.nari {
  color: #FAD1D6;
  font-weight: bold;
}
.seffyna {
  color: #C92235;
  font-weight: bold;
}
.rim {
  color: #2e2e9e;
  font-weight: bold;
}
.joucho {
  color: #f7eaee;
  font-weight: bold;
}
.chino {
  color: #c7b9b6;
  font-weight: bold;
}
.garasumiya {
  color: #868aa1;
  font-weight: bold;
}
.hina {
  color: #f2e2c5;
  font-weight: bold;
}
.niu {
  color: #f8eee8;
  font-weight: bold;
}
.hinano {
  color: #e2d2c6;
  font-weight: bold;
}
.hinano {
  color: #f9cccf;
  font-weight: bold;
}
.suu {
  color: #cbc7ce;
  font-weight: bold;
}
.alba {
  color: #39a9e2;
  font-weight: bold;
}
.cosmo {
  color: #4f5293;
  font-weight: bold;
}
.uruka {
  color: #a4f0f5;
  font-weight: bold;
}
.polka {
  color: #ab0808;
  font-weight: bold;
}
.yuka {
  color: #f9cad6;
  font-weight: bold;
}
.patra {
  color: #e7d8d7;
  font-weight: bold;
}
.imgwarta {
  max-width: 400px;
  border-radius: 10px;
}
.tanggaltebel {
  font-weight: bold;
}
#jam {
  font-size: 23px;
  font-weight: bold;
}